body {    
    background: url() no-repeat top center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
}
h1 {
    font-weight: bold;
    font-family: courier;
    font-size: 50x;
    color: white;
    text-shadow: 1px 1px 20px white;
}